body{
    background-color: #202020;
    color: #fff;
}

.first-login{
    background-color: #101010;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    letter-spacing: 2px;
    text-align: center;
}

.first-login button{
    border: 2px solid rgb(0, 202, 0);
    background-color: #101010;
    color: yellow;
    border-radius: 10px;
    padding: 5px;
    width: 200px;
}

.one-call{
    background-color: red;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2px;
    border-radius: 10px;
}

.noMarg{
    margin: 0px;
}

.noPadd{
    padding: 0px;
}

.inside-padd-one-call{
    padding: 5px;
}

.selTool{
    padding: 2px;
    text-align: center;
    letter-spacing: 2px;
    border-radius: 10px;
    border: 2px solid yellow;
}

.selTool img{
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

.toolTitle{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #101010;
    border-radius: 10px;
    padding: 4px;
    background-color: yellow;
}

.selTool:hover{
    cursor: pointer;
}

.titleBar h1{
    letter-spacing: 2px;
    color: greenyellow;
    text-align: center;
    background-color: #101010;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.formBox input[type="text"]{
    border-radius: 10px;
    border: 2px solid yellow;
    color: yellow;
    background-color: #101010;
    cursor: pointer;
    padding: 5px;
    width: 100%;
}

.formBox input[type="password"]{
    border-radius: 10px;
    border: 2px solid yellow;
    color: yellow;
    background-color: #101010;
    cursor: pointer;
    padding: 5px;
    width: 100%;
}

.formBox input[type="email"]{
    border-radius: 10px;
    border: 2px solid yellow;
    color: yellow;
    background-color: #101010;
    cursor: pointer;
    padding: 5px;
    width: 100%;
}

.formBox select{
    border-radius: 10px;
    border: 2px solid yellow;
    color: yellow;
    background-color: #101010;
    cursor: pointer;
    padding: 6px;
    width: 100%;
}

.inButt{
    padding: 5px;
    margin-top: 10px;
}

.inButt button{
    color: #00fffb;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid #00fffb;
    background-color: #101010;
    font-weight: bold;
    width: 100%;
}

#formAddUser{
    padding: 0px;
}

.oneIn{
    padding: 3px;
}

.inOne{
    padding: 3px;
}

.inOneErr{
    padding: 3px;
}

.inOnePadd{
    padding: 3px;
    margin-bottom: 10px;
}

.inOne input{
    width: 100%;
    padding: 8px;
    color: yellow;
    border: 2px solid yellow;
    border-radius: 10px;
    letter-spacing: 2px;
    font-size: 14px;
    background-color: #101010;
}

.inOneErr{
    padding: 3px;
}

.inOneErr input{
    width: 100%;
    padding: 8px;
    color: red;
    border: 2px solid red;
    border-radius: 10px;
    letter-spacing: 2px;
    font-size: 14px;
    background-color: #101010;
}

.inOne button{
    width: 100%;
    padding: 10px;
    color: aqua !important;
    border: 2px solid aqua !important;
    border-radius: 10px;
    letter-spacing: 2px;
    font-size: 14px;
    background-color: #101010;
}

.titlePadd{
    padding: 10px 10px 0px 10px;
}

.titlePaddA{
    padding: 0px 10px 10px 10px;
}

.titleListBar{
    color: yellow;
    border-left: 2px solid yellow;
    border-right: 2px solid yellow;
    border-top: 2px solid yellow;
    border-bottom: 2px solid yellow;
    padding: 10px 0px 10px 0px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 10px 10px 0px 0px;
}

.titleListBar .ocA{
    /* background-color: #101010; */
}

.titleListBar .ocB{
    /* background-color: #303030; */
}

.tableListA{
    /* margin-top: 10px; */
    /* border-left: 2px solid yellow; */
    /* border-right: 2px solid yellow; */
    /* border-bottom: 2px solid yellow; */
    /* padding: 0px 10px 10px 10px; */
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}

.tableListB{
    text-align: center;
    letter-spacing: 2px;
    /* font-weight: 700; */
    font-size: 14px;
    color: #101010;
    /* margin-top: 8px; */
    border-left: 2px solid yellow;
    border-bottom: 2px solid yellow;
    border-right: 2px solid yellow;
    /* border-bottom: 2px solid yellow; */
    border-radius: 0px 0px 10px 10px;
}

.ocA{
    /* padding: 8px; */
}

.ocB{
    /* padding: 8px; */
}

.tableListA .ocA{
    font-size: 16px;
    padding: 5px;
    /* border-right: 2px solid yellow; */
    /* border-top: 2px solid yellow; */
    color: #fff;
}

.tableListA .ocB{
    font-size: 16px;
    padding: 5px;
    /* border-right: 2px solid yellow; */
    /* border-top: 2px solid yellow; */
    color: #fff;
}

.tableListA .ocC{
    font-size: 16px;
    padding: 5px;
    border-top: 2px solid yellow;
    color: #fff;
}

.tableListB .ocA{

}

.tableListB .ocB{
    
}

.oneCell{
    border-left: 2px solid yellow;
    color: orange;
    font-size: 14px;
    /* font-weight: 700; */
    letter-spacing: 2px;
    padding: 5px 0px 5px 0px;
}

.oneCellA{
    /* border-left: 2px solid yellow; */
    color: orange;
    font-size: 14px;
    /* font-weight: 700; */
    letter-spacing: 2px;
    padding: 5px 0px 5px 0px;
}

/* planedWork.php */

.boxForm{


}

#showList select{
    padding: 5px;
    text-align: center;
    border: 2px solid yellow;
    letter-spacing: 2px;
    border-radius: 10px;
    color: yellow;
    background-color: #101010;
}

#showList button{
    padding: 5px;
    text-align: center;
    border: 2px solid yellow;
    letter-spacing: 2px;
    border-radius: 10px;
    color: yellow;
    background-color: #101010;
}

.catA{
    padding: 5px;
    border-radius: 10px 0px 0px 10px;
    letter-spacing: 2px;
    text-align: center;
    background-color: red;
    color: #fff;
}

.catB{
    padding: 5px;
    /* border-radius: 10px; */
    letter-spacing: 2px;
    text-align: center;
    background-color: orange;
    color: #fff;
}

.catC{
    padding: 5px;
    /* border-radius: 10px; */
    letter-spacing: 2px;
    text-align: center;
    background-color: green;
    color: #fff;
}

.catD{
    padding: 5px;
    border-radius: 0px 10px 10px 0px;
    letter-spacing: 2px;
    text-align: center;
    background-color: #101010;
    color: #fff;
}

.selType{
    padding: 3px;
}

.selType:hover{
    cursor: pointer;
}

#displayList{
    margin-top: 10px;
}

.titleBar .opA{
    border-radius: 10px;
}

.titleBar .opB{

}

.tableCellA{
    border-radius: 10px;
    padding: 10px;
    color: yellow;
    border: 2px solid yellow;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}

.tableCellA .opA{
    
}

.tableCellA .opB{
    
}

.tableCellB{
    border: 2px solid yellow;
    /* padding: 5px; */
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tableCellB .opA{
    border-right: 2px solid yellow;
    /* border: 2px solid yellow; */
    border-bottom: 2px solid yellow;
    padding: 5px;
}

.tableCellB .opB{
    border-right: 2px solid yellow;
    /* border: 2px solid yellow; */
    border-bottom: 2px solid yellow;
    padding: 5px;
}

.tableCellB .opC{
    /* border-right: 2px solid yellow; */
    /* border: 2px solid yellow; */
    border-bottom: 2px solid yellow;
    padding: 5px;
}

.tableCellB .opD{
    padding: 10px;
}

.tableCellB .marg{
    margin-bottom: 10px !important;
}

.tableCellB .opC button{
    color: aqua;
    margin: 0px;
    border: 2px solid aqua;
    text-align: center;
    font-size: 14px;
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
}

.tableCellB button{
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    background-color: #101010;
    color: aqua;
    border: 2px solid aqua;
    margin-top: 10px;
    margin-bottom: 10px;
}

.titleBarA h1{
    color: yellowgreen;
    text-align: center;
    padding: 10px;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 0px;
}

.tableCellC{
    border-left: 2px solid aqua;
    border-right: 2px solid aqua;
    border-bottom: 2px solid aqua;
    padding: 5px;
}

.titleRowBox{
    padding: 10px 10px 0px 10px;
}

.titleRow{
    border-top: 2px solid aqua;
    border-left: 2px solid aqua;
    border-right: 2px solid aqua;
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
}

.tableBox{
    border-left: 2px solid aqua;
    border-right: 2px solid aqua;
    border-bottom: 2px solid aqua;
    border-radius: 0px 0px 10px 10px;
    /* padding: 10px; */
}

.tableBoxPadd{
    padding: 0px 10px 10px 10px;
}

.tableCellD .opA{
    border-right: 2px solid aqua;
    border-top: 2px solid aqua;
    border-bottom: 0px;
    padding: 5px;
    text-align: center;
}

.tableCellD .opB{
    border-right: 2px solid aqua;
    border-top: 2px solid aqua;
    border-bottom: 0px;
    padding: 5px;
    text-align: center;
}

.tableCellD .opC{
    border-top: 2px solid aqua;
    border-bottom: 0px;
    padding: 5px;
    text-align: center;
}

.errorPlane{
    padding: 10px;
    font-size: 20px;
    color: orange;
    border: 2px solid orange;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 50px;
}

.styleListButton button{
    padding: 5px;
    text-align: center;
    border: 2px solid yellow;
    letter-spacing: 2px;
    border-radius: 10px;
    color: yellow;
    background-color: #101010;
}

.styleListButton select{
    padding: 5px;
    text-align: center;
    border: 2px solid yellow;
    letter-spacing: 2px;
    border-radius: 10px;
    color: yellow;
    background-color: #101010;
}